.my-header {
    height: 38px;
    padding-top: 6px !important;
}

.hidden {
    display: none;
}

.fill-height {
    min-height: 100% !important;
}

.logo {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10000;
    background-color: grey;
    background-image: url("./images/logo.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    background-size: contain;
}

.fadeout {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}