:root {
	--height: 60px;
}
.bg-danger, .bg-success {
	padding: 0 5px;
}

a {
	color: #EF1F2F;
	text-decoration: none;
}

.zero {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.main_bar {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: var(--height);
}

.main_div {
	position: absolute;
	left: 0px;
	right: 0px;
	top: var(--height);
	bottom: 0px;
}