:root {
    --radius: 7px;
    --margin: 5px;
    --margin-right: 10px;
    --border: 0px;
    --font-size: 12px;
    --width: 120px;
}

a:link {
    text-decoration: none;
}

/* Dropdown Button */
.dropbtn {
    /*background-color: #4CAF50;*
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 0px;*/
    margin-left: var(--margin);
    margin-right: 0px;
    /*border-radius: var(--radius);*/
    /*border: var(--border) solid rgb(173, 61, 33);
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: var(--font-size);
    letter-spacing: .06em;
    -webkit-font-smoothing: antialiased;*/
    /*width: var(--width);*/
}
/*
.dropbtn:focus {
    outline: none;
}
*/
/* Dropdown button on hover & focus */
/*
.dropbtn:hover {
    background-color: #3e8e41;
}
*/
div.bar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    z-index: 10;
    
    background-color: blue;
    display: flex;
    align-items: center;
}

.after{
    width: 100%;
}

.dropdown_right {
    margin-right: var(--margin-right);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    margin-left: var(--margin);
    margin-top: 0px;/*var(--margin);*/
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: var(--width);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /*border-radius: var(--radius);*/
    border: var(--border) solid rgb(173, 61, 33);
    font-family: 'Lato', sans-serif;
    font-size: var(--font-size);
    letter-spacing: .06em;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.dropdown-content-right {
    right: var(--margin-right);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    /*border-radius: var(--radius);*/
    border: none;
    font-weight: 700;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}

.logo {
    position: relative;
    height: 80px;
}

.my-input {
    width: 150px;
}